.plus {
    border-right: 5px solid green;
    padding: 5px;
}

.minus {
    border-right: 5px solid red;
    padding: 5px;
}

.box {
    margin: 2px;
    font-weight: bold;
    font-size: larger;
    
}

.left {
    float: left;
}
.right {
    float: left;
}

#clear {
    clear: both;
}

.opaq {
    opacity: 80%;
}
.opaq:hover {
    opacity: 30%;
}
